.card
    margin: 0 auto
    float: none 
    margin-bottom: 10px 
.totalShipment
    float: left
    color: grey

li
    border: 1px solid black
.reset
    float: right
    height: 35px
    width: 80px
.card-body
    width: 98%

.filterIcon 
  position: relative
  float: right

  .filter-popover 
    position: absolute
    top: 30px
    right: 30px
    width: 300px
    background-color: white
    border: 1px solid #ccc
    z-index: 1000
    padding: 10px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

    ul 
      list-style-type: none
      padding: 0

      li 
        cursor: pointer
        padding: 5px 10px

        &:hover 
          background-color: #f9f9f9

    .filter-tick 
      margin-left: 5px

.item
    cursor: pointer
    &:hover
        background-color: #f9f9f9
        border: 1px solid black

